<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monthly Activity Report</title>
</head>
<body>
    <div class="container">
        <header>
            <h2>Monthly Activity Report of {{customer}}</h2>
        </header>
        <main>
            {% if data | length == 1 %}
                <p>You have no bookings.</p>
            {% else %}
                <p>{{ data[0] }}</p>
                <table>
                    <thead>
                        <tr>
                            <th>booking_id</th>
                            <th>date_of_request</th>
                            <th>date_of_completion</th>
                            <th>phone_number</th>
                            <th>location</th>
                            <th>pincode</th>
                            <th>rating</th>
                            <th>professional_id</th>
                            <th>service_id</th>
                            <th>status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in data[1:] %}
                            <tr>
                                <td>{{ book[0] }}</td>
                                <td>{{ book[1] }}</td>
                                <td>{{ book[2] }}</td>
                                <td>{{ book[3] }}</td>
                                <td>{{ book[4] }}</td>
                                <td>{{ book[5] }}</td>
                                <td>{{ book[6] }}</td>
                                <td>{{ book[7] }}</td>
                                <td>{{ book[8] }}</td>
                                <td>{{ book[9] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </main>        
        <footer>
            <p>This email was sent from <strong>Household Service App</strong>.</p>
        </footer>
    </div>
</body>
</html>
